@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CONTENIDO</title>
</head>
<body>
    <div>
        <h1>Titles</h1>

    </div>
    <h2>@ViewBag.SeriesTitle</h2>

    <h3>Issue #@ViewBag.IssueNumber</h3>

    <h5>Description:</h5>

    <div>
        <h6>@ViewBag.Description</h6>
    </div>
    @if (ViewBag.artists.Length > 0) //render if there are any artist listed
    {
        <h4>Artists</h4>
        <div>
            <ul>
                @foreach (var art in ViewBag.artists)
                {
                    <li>@art</li>
                }
            </ul>
        </div>
    }

</body>
</html>
